<footer class="bg-zinc-900 grid grid-cols-1 pl-12 py-8 sm:grid-cols-3 sm:justify-items-center">
    <div class="mb-4">
        <h2>Navigation</h2>
        <p><a href="/">Home</a></p>
        <!--<p><a href="/about-me">About me</a></p>-->
        <p><a href="/posts">Posts</a></p>
        <p><a href="/uses">Uses</a></p>
    </div>
    <div class="mb-4">
        <h2>Links</h2>
        <p><a href="mailto:{{config.extra.email}}">Email</a></p>
        <p><a href="{{config.extra.github}}" target="_blank">Github</a></p>
        <p><a href="{{config.extra.keyoxide}}" target="_blank">Keyoxide</a></p>
        <p><a href="{{config.extra.bluesky}}">Bluesky</a></p>
    </div>
    <div>
        <h2>Other</h2>
        <p><a href="/atom.xml">RSS</a></p>
        <p><a href="https://github.com/WJehee/personal-website" target="_blank">Source code</a></p>
        <p><a href="/privacy">Privacy policy</a></p>
    </div>
</footer>
