<!DOCTYPE html>
<html lang="en" class="scroll-smooth text-white">
    <head>
        <title>
            {{ config.title }}{% block title %}{% endblock %}
        </title>
        <meta name="author" content="Wouter Jehee">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{{ get_url(path="css/styles.css") }}">
    </head>
    <body class="bg-zinc-900 min-h-screen">
        {% include "partials/nav.html" %}
        {% block main %} {% endblock %}
        {% include "partials/footer.html" %}
    </body>
</html>
