{% extends "base.html" %}

{% block title %}
| {{ section.title }} 
{% endblock title %}

{% block main %}

<main>
    <section id="hero" class="min-h-screen bg-zinc-900">
        <div class="container mx-auto">
            <hgroup>
                <h1 class="pt-20">Wouter Jehee</h1>
                <h2>Cybersecurity Engineer</h2>
            </hgroup>
            <div class="grid grid-cols-2 pt-16">
                <div>
                    {{ section.content | safe }}
                </div>
                <div>
                    <a href="#projects" class="button">
                        View projects
                    </a>
                </div>
            </div>
            <br>
            <div class="flex justify-evenly w-full text-center">
                {% include "partials/email.html" %}
                {% include "partials/github.html" %}
                {% include "partials/keyoxide.html" %}
                {% include "partials/rss.html" %}
                <!--{% include "partials/bluesky.html" %}-->
                <!--{% include "partials/intigriti.html" %}-->
            </div>
        </div>
    </section>
    <section id="about-me" class="bg-zinc-950">
        <div class="container mx-auto">
            <p>Hello</p>
        </div>
    </section>
    <section id="projects" class="bg-blue-950 pb-8">
        <div class="container mx-auto">
            <div class="project">
                <div>
                    <h1>Fuzzing</h1>
                    <p>
                        During my master thesis I worked on fuzzing several libraries used on a cubesats, the main one being the Cubesat Space Protocol (CSP).
                        For this use case I translated the code for the firmware to run in a simulator making it much faster to iterate.
                    </p>
                </div>
                <div>
                    <img src="" alt="">
                </div>
            </div>
            <div class="project">
                <div>
                    <img src="" alt="">
                </div>
               <div>
                    <h1>Blot</h1>
                    <p>
                        Hello world
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos nam iure itaque iusto, voluptates aperiam obcaecati nihil similique numquam distinctio.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore eaque, aliquid nobis sed nostrum reprehenderit repellendus modi commodi ratione facilis.
                    </p>
                </div>
            </div>
        </div>
    </section>
</main>

{% include "partials/footer.html" %}

{% endblock main %}
