{% extends "base.html" %}

{% block title %}
| Home
{% endblock title %}

{% block main %}

<main>
    <section id="hero" class="bg-zinc-950 min-h-screen grid grid-cols-12">
        <div class="col-start-1">
            <h2 class="text-white">Left</h2>
        </div>
        <div class="bg-zinc-800 col-start-8 col-end-13">
            <h1 class="text-white text-center p-4">Hello world</h1>
            <p class="text-white p-10">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veritatis nemo animi voluptatem facere tempora quibusdam placeat suscipit! Dolores, enim repellat.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, repudiandae dolorem accusantium voluptate cum animi blanditiis numquam facere omnis voluptas quae, fugit culpa necessitatibus, quo nulla sapiente! Non, tempora nihil.
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate necessitatibus officia ab ut porro voluptatem eveniet alias doloribus! Distinctio, praesentium. Ad, enim illum facilis deleniti minima nulla tempora nesciunt cum.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi commodi eligendi placeat praesentium harum cum repudiandae doloremque totam debitis dolore?
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea quaerat corrupti error magnam quas nobis eveniet inventore in. Ut, voluptatum!
            </p>
        </div>
    </section>
    <section id="project" class="min-h-screen bg-blue-950">
    </section>
</main>

{% endblock main %}
