{% extends "base.html" %}

{% block title %}
| {{ page.title }} 
{% endblock title %}

{% block main %}

<main class="pb-8">
    <div class="container mx-auto px-4">
        <hgroup>
            <h1 class="mb-4">{{page.title}}</h1>
            {% if page.date %}
            <h3 class="text-slate-700 mb-8">{{ page.date | date(format="%d // %b // %Y") }}</h3>
            {% endif %}
        </hgroup>
        <article class="sm:text-xl">
            {{ page.content | safe }}
        </article>
    </div>
</main>

{% endblock main %}
