{% extends "base.html" %}

{% block title %}
| {{ section.title }} 
{% endblock title %}

{% block main %}

<main>
    <div class="container mx-auto px-4 pb-8">
        <h1>{{section.title}}</h1>
        <div class="mb-12 text-lg text-slate-700 sm:text-2xl">
            {{ section.content | safe }}
        </div>

        <ul class="text-sm sm:text-lg md:text-xl xl:text-2xl">
        {% for post in section.pages %}
            <li class="flex justify-between">
                <a href="{{post.permalink}}" class="group">
                    <span class="pr-2 text-fuchsia-700 group-hover:text-fuchsia-600">{{ post.title }}</span>
                    <span class="hidden text-slate-700 lg:inline-block">//</span>
                    <span class="hidden pl-2 lg:inline-block">{{ post.description }}</span>
                </a>
                <span class="text-slate-700">{{ post.date | date(format="%d // %b // %Y") }}</span>
            </li>
        {% endfor %}
        </ul>
    </div>
</main>

{% endblock main %}
