{% extends "base.html" %}

{% block title %}
| {{ section.title }} 
{% endblock title %}

{% block main %}

<main>
    <div class="container mx-auto">
        <h1>{{section.title}}</h1>
        <div class="text-2xl text-slate-700 mb-12">
            {{ section.content | safe }}
        </div>

        <ul class="text-2xl">
        {% for post in section.pages %}
            <li class="flex justify-between">
                <a href="{{post.permalink}}" class="divide-zinc-300 divide-x group">
                    <span class="text-fuchsia-700 group-hover:text-fuchsia-600 pr-2">{{ post.title }}</span>
                    <span class="pl-4 hidden lg:inline-block">{{ post.description }}</span>
                </a>
                <span class="text-slate-700">{{ post.date | date(format="%d // %b // %Y") }}</span>
            </li>
        {% endfor %}
        </ul>
    </div>
</main>

{% endblock main %}
