{% extends "base.html" %}

{% block title %}
| {{ page.title }} 
{% endblock title %}

{% block main %}

<div class="container mx-auto px-4">
    <h1>{{page.title}}</h1>
    <div class="grid grid-cols-1 pb-8 gap-x-16 xl:grid-cols-3">
        <article class="col-span-2">
            {{ page.content | safe }} 
        </article>
        <article>
            <h2>Phone</h2>
            <p>
                Running <a href="https://grapheneos.org/">GrapheneOS</a> with icons from <a href="https://arcticons.com/" target="_blank">Articons</a> and
                <a href="https://github.com/MM2-0/Kvaesitso" target="_blank">Kvaesitso</a> as launcher.
            </p>
            <h3>Apps</h3>
            <ul>
                <li><a href="https://keepassxc.org/" target="_blank">KeepassXC</a> for password management</li>
                <li><a href="https://getaegis.app/" target="_blank">Aegis</a> for 2FA</li>
                <li><a href="https://www.davx5.com/" target="_blank">DavX5</a> for calendar and tasks synchronization</li>
                <li><a href="https://syncthing.net/" target="_blank">Syncthing</a> for file synchronization</li>
                <li><a href="https://obsidian.md" target="_blank">Obsidian</a> for note taking</li>
                <li><a href="https://catima.app/" target="_blank">Catima</a> for loyalty cards</li>
            </ul>
        </article>
    </div>
</div>

{% endblock main %}
