{% extends "base.html" %}

{% block title %}
| {{ page.title }} 
{% endblock title %}

{% block main %}

<div class="container mx-auto px-4">
    <h1>{{page.title}}</h1>
    <div class="grid grid-cols-1 pb-8 gap-x-16 xl:grid-cols-3">
        <article class="col-span-2">
            {{ page.content | safe }} 
        </article>
        <article>
            <h2>Phone</h2>
            <ul>
                <li>Running <a href="https://calyxos.org/">CalyxOS</a></li>
                <li>Icons: <a href="https://arcticons.com/">Articons</a></li>
            </ul>
            <h3>Apps</h3>
            <ul>
                <li><a href="https://k9mail.app/">K-9 Mail</a> for email, provider is <a href="https://www.startmail.com/">Startmail</a></li>
                <li><a href="https://obsidian.md">Obsidian</a> for note taking</li>
                <li><a href="https://keepassxc.org/">KeepassXC</a> for password management</li>
                <li><a href="https://getaegis.app/">Aegis</a> for 2FA</li>
                <li><a href="https://www.davx5.com/">DavX5</a> for calendar and tasks synchronization</li>
                <li><a href="https://syncthing.net/">Syncthing</a> for file synchronization</li>
                <li><a href="https://catima.app/">Catima</a> for loyalty cards</li>
            </ul>
        </article>
    </div>
</div>

{% endblock main %}
