@import url('satoshi.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    hgroup h1 {
        @apply m-0; 
    }

    h1 {
        @apply text-4xl md:text-6xl lg:text-8xl font-bold mb-8;
    }

    h2 {
        @apply text-xl md:text-2xl lg:text-4xl font-bold mb-2;
    }

    h3 {
        @apply text-2xl mb-2;
    }

    a {
        @apply text-zinc-300 hover:text-white transition;
    }

    main {
        @apply pt-16;
    }

    article {
        @apply sm:text-xl;
    }

    article p {
        @apply pb-4;
    }

    article a {
        @apply text-slate-400 hover:text-fuchsia-900;
    }

    article code {
        @apply font-mono;
    }

    article ul {
        @apply list-disc;
    }

    article > ul {
        @apply mb-4;
    }

    article ol {
        @apply list-decimal;
    }

    article ul li {
        @apply ml-4;
    }

    article ol li {
        @apply ml-6;
    }

    article pre {
        @apply my-2 p-2 rounded bg-slate-900;
    }

    article code {
        @apply p-1 font-mono bg-slate-900;
    }

    article pre code {
        @apply m-0 p-0;
    }
}

@layer components {
    .button {
        @apply text-white hover:text-white transition py-2 px-4 rounded font-bold text-xl;
    }

    .icon {
        @apply h-8 w-12 lg:h-12 lg:w-12;
    }

    .project {
        @apply grid grid-cols-1 xl:grid-cols-2 py-16 xl:py-32
    }

    .blurred-card {
        @apply relative rounded shadow-lg bg-slate-950 border-slate-600 border-2 blur-sm hover:blur-0 transition hover:scale-110 hover:z-10 opacity-20 hover:opacity-100;
    }

    .hex {
        clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
        /*clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%, 25% 0%);*/
        overflow: hidden;
    }
}

@layer utilities {
    .blue {
        @apply text-violet-700;
    }

    .red {
        @apply text-rose-500;
    }

    .purple {
        @apply text-fuchsia-700;
    }

    .gradient-wrapper {
        @apply relative overflow-hidden;
    }

    .gradient-wrapper::before {
        background: conic-gradient(
            #be123c 0deg,
            #4a044e 20deg,
            #4a044e 40deg,
            #6d28d9 50deg,
            transparent 60deg
        );
        @apply absolute left-[-25%] top-[-25%] h-[150%] w-[150%] animate-border-spin content-[''];
    }

    .gradient-content {
        @apply absolute left-[3px] top-[3px] h-[calc(100%-6px)] w-[calc(100%-6px)] border-slate-950 border-2;
    }

    .gradient-underline {
        @apply relative pb-4;
    }
    
    .gradient-underline::before {
        @apply content-[''] absolute top-full left-0 bg-fuchsia-500 h-1 w-full bg-gradient-to-r from-violet-700 via-fuchsia-700 to-rose-700;
    }
}
